@import url("node_modules/modern-normalize/modern-normalize.css");

body {
  background-color: #333;
  color: #fff;
}

header,
main {
  border-bottom: #fff 1px solid;
}

header,
main,
footer {
  padding: 16px;
}

h1,
h2 {
  margin: 0;
}

img {
  border-radius: 4px;
}

a {
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #ccc;
}

main {
  background-color: #444;
}

main > div {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 16px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
